<h3>ChildComponent</h3>

<button class="btn btn-primary" @onclick="UpdateMessageButtonClicked">Update Message</button>

@code {
    [CascadingParameter]
    public CascadingPersistableAppStateProvider State { get; set; }

    void UpdateMessageButtonClicked()
    {
        State.AppState.UpdateMessage(this,"Message updated by child component");
    }
}